body . {
	
}

a {
	text-decoration:none;
}

.content {

padding-left:5px; padding-right:5px;
border: 5px solid black;
padding-bottom: 100%;
}

h1 {
display: flex;
justify-content: center;
background-color: #D2D2D2;
padding:5px;
}

.chapters {
	border: 2px solid black;
}

.chapter-card {
	border-bottom: 1px solid black;
	padding:10px;
	transition: 1s;
	cursor: pointer;
}

.chapter-card:hover {
	background-color: #D2D2D2;
}